/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

/*Bootstrap & Body Styling*/

.disclaimer {
  display: grid;
  justify-items: center;
  align-items: center;
}

.grid-body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.body1 {
  grid-area: 1/1/2/3;
}

.body2 {
  grid-area: 1/3/2/6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.body3 {
  grid-area: 2/1/4/2;
}

.body4 {
  grid-area: 4/1/6/2;
}

.body5 {
  grid-area: 2/5/4/6;
}

.body6 {
  grid-area: 4/5/6/6;
}

.body7 {
  grid-area: 2/2/6/5;
}

.body1,
.body2,
.body3,
.body4,
.body5,
.body6,
.body7 {
  border: solid black 3px;
  
  background-color: white;
}

/*Unique Classes*/



.body2 .row {
  width: 100%;
  flex-wrap: wrap;
}

.project-title-card {
  background-image: url(https://t4.ftcdn.net/jpg/03/37/22/29/360_F_337222949_51G92ChHFiN83woONa5pQedzZt5FVmfQ.jpg);
  background-size: cover;
  border: solid black 2px;
}

.credit-box {
  border: solid black 3px;
  border-radius: 25px;
  background-color: darkblue;
  font-size: 125%;
  color: white;
}

.transparent-background {
  border: solid black 3px;
  background: linear-gradient(
    to right, 
    rgba(255, 0, 0, 0.5),
    rgba(255, 165, 0, 0.5),
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5),
    rgba(75, 0, 130, 0.5),
    rgba(238, 130, 238, 0.5)
  );
  padding: 0.5%;
  border-radius: 25%;
}

/*Reusable Classes*/

.box {
  border: solid black 1.5px;
  background-color: wheat;
  padding: 5px;
}

.scroll {
  overflow-y: auto;
  max-height: 250px;
  border: solid black 3px;
  font-weight: bolder;
  flex-grow: 1;
}

.section {
  border: black;
  border-radius: 25%;
  background: linear-gradient(
    to right,
    rgba(252, 10, 10, 0.5),
    rgba(255, 140, 0, 0.5),
    rgba(246, 233, 51, 0.5),
    rgba(0, 255, 26, 0.5)
  );

  text-align: center;
  margin: 0% 5%;
}

.centered {
  text-align: center;
  padding: 5px;
  margin: 4px;
}

.title {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-size: 250%;
  font-style: normal;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}


.name {
  color: white;
  font-weight: bolder;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.hidden {
  display: none;
}

/* ==== Broad Element Style Changes ==== */

a {
  text-decoration: none;
}

a:hover {
  color: red;
  font-size: 150%;
}

body {
  background-color: black;
}